h1{
  width:20%;
  display:inline;
}
div.account {
    margin-top: 20px;
   float:right;
   display:inline;
<<<<<<< HEAD
}

span.noun {
  text-decoration: underline;
=======
>>>>>>> 0e01c47e72ca3f9b0dacc5e21a9a3f5d7311b6b3
}