body {
  background-color: #fcfcfc;
}
h1{
  width:20%;
  display:inline;
}
div.account {
    margin-top: 20px;
   float:right;
   display:inline;
}

div#term-cloud {
  border: 1px solid #000;
  margin-top: 20px;
}

span.noun, span.actor {
  text-decoration: underline;
}
span.tweet-author {
  display: inline;
  margin-left: 10px;
}